* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: bisque;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    list-style: none;
    display: flex;
}

.nav li a {
    padding: 8px 12px;
    color: black;
    text-decoration: none;
}

.nav li a:hover {
    background-color: rgb(198, 185, 154);
}

.add_post_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.form_group {
    margin-bottom: 15px;
}

.create_post_btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.create_post_btn:hover {
    background-color: #45a049;
}

textarea {
    display: block;
    width: 100%;
    height: 100px;
}
#post_body {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

form > .form_group {
    margin-bottom: 20px;
}

.form_group + button {
    margin-top: 10px;
}

.form_group ~ .form_group {
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
    }
    .nav {
        flex-direction: column;
    }
    .add_post_container {
        width: 100%;
        padding: 10px;
    }
}

.dropdown {
    display: none; /* Initially hidden */
    position: absolute;
    background-color: white; /* Background color for the dropdown */
    border: 1px solid #ccc; /* Border around the dropdown */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 50; /* Space between the user pic and dropdown */
    right: 0; 
    z-index: 1000; 
}


.dropdown-item {
    padding: 10px 15px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: rgb(198, 185, 154); /* Highlight on hover */
}
