* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    background-color: bisque;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 15px;
}

header + ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav a {
    padding: 8px 12px;
    display: block;
    text-align: center;
    font-size: .99em;
    color: black;
}

a {
    text-decoration: none;
}

.nav a:hover {
    background-color: rgb(198, 185, 154);
}

#posts_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;

}

.post {
    background-color: bisque;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 15px;
    width: 430px;
}

.post_head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.post_body > p {
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 1em;
}

.post_picture {
    width: 100%;
    max-width: 400px;
    height: auto;
}

@media (min-width: 450px) {
    .header,
    .nav {
        display: flex;
    }
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 450px){
    .user_pic {
        display: none;
    }
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
